/*--------------
    VARIABLES
--------------*/

:root{
    //  Colors 
    --clr-base-light: #ffffff;
    --clr-base-dark: #000000;
    --clr-primary: #0282F9;
    --clr-secondary: #1C1C1C;
    --clr-tertiary: #303030;
    --clr-socialLinks: #797979;

    
}